
# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
Tesseract-Java-Preloader/nbproject/private/
Tesseract-Java/nbproject/private/
Tesseract-Java/build/
Tesseract-Java/nbbuild/
Tesseract-Java/dist/
Tesseract-Java/nbdist/
Tesseract-Java/nbactions.xml
Tesseract-Java/.nb-gradle/
Tesseract-Java-Preloader/build/
Tesseract-Java-Preloader/nbbuild/
Tesseract-Java-Preloader/dist/
Tesseract-Java-Preloader/nbdist/
Tesseract-Java-Preloader/nbactions.xml
Tesseract-Java-Preloader/.nb-gradle/

Tesseract-Java-Preloader/nbproject/private/private.properties
Tesseract-Java/nbproject/private/private.properties
Tesseract-Java-Preloader/nbproject/private/private.properties
Tesseract-Java/nb_jr_remoting.cfg
Tesseract-Java-Preloader/nbproject/private/private.properties
Tesseract-Java/build/built-jar.properties
