Tesseract-Java/nbproject/private/
Tesseract-Java/build/
Tesseract-Java/nbbuild/
Tesseract-Java/dist/
nbdist/
nbactions.xml
.nb-gradle/
Tesseract-Java/nbproject/private/private.xml
Tesseract-Java/nb_jr_remoting.cfg
Tesseract-Java/nbproject/private/private.properties
Tesseract-Java/nbproject/private/private.properties
Tesseract-Java/nbproject/private/private.properties
